<script>
    document.addEventListener('DOMContentLoaded', function () {
        console.log('Здесь должен быть скрипт компонента')
    })
</script>
<div class="news">
    <h3 class="news__title">Новости</h3>
    <div class="news__container">
        <div class="news__element">
            <h4 class="news__element-title">
                Заголовок новости
            </h4>
            <div class="news__element-text">
                Текст новости<br>
                <a class="news__element-email" href="mailto:example@example.com">
                    Связаться c автором
                </a>
            </div>
        </div>
    </div>
</div>
