.news {
  padding: 20px;
}

.news__title {
  margin: 0 auto;
  width: 300px;
  color: black;
  text-align: center;
}

.news__container {
  margin: 20px auto 0;
  width: 300px;
}

.news__element {
  background: #bfbfbf;
  padding: 20px;
  border-radius: 10px;
}

.news__element-title {
  color: black;
  text-align: center;
}

.news__element-text {
  margin-top: 20px;
  color: black;
}

.news__element-email {
  border: 1px solid black;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 10px;
  color: black;
  border-radius: 4px;
}

.news__element-email::before {
  background: url(/img/mail.svg#black);
  content: "";
  margin-right: 5px;
  display: block;
  width: 18px;
  height: 18px;
}

.news__element-email:hover {
  border-color: #fff;
  color: white;
  text-decoration: none;
}

.news__element-email:hover::before {
  background: url(/img/mail.svg#white);
}